/* BOARD */
.board {
  margin: 100px auto;
  width: 1000px;
  height: 450px;
  background-color: rgba(255, 191, 0, 0.603);
  position: relative;

  display: flex;
  /* align-items: center; */
  gap: 86px;
}

.hide-board input + label {
  margin: 100px auto;
  width: 100px;
  height: 50px;
  background-color: rgb(223, 58, 58);

  color: #000;
  border-radius: 12px;
  padding: 25px;

  display: flex;
  align-items: center;
  gap: 86px;
}

.hidden {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

input:hover + label {
  cursor: pointer;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.09);
}

input:checked + label {
  background-color: rgb(223, 58, 58);
}

input + label ~ .board {
  display: block;
}

input:checked + label ~ .board {
  display: none;
}

.slider {
  background-color: rgba(255, 191, 0);
  width: 200px;
  height: 150px;
  position: absolute;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 86px;
  animation: boardSlide 5s ease-in-out infinite alternate;
}

.slider p {
  color: #fff;
}

@keyframes boardSlide {
  0% {
    transform: translate(0, 0);
    top: 0%;
  }
  10% {
    transform: translate(0, 0);
    top: 50%;
  }
  30% {
    transform: translate(50%, 0);
    top: 50%;
  }
  50% {
    transform: translate(50%, -50%);
    top: 50%;
  }
  70% {
    transform: translate(-50%, -50%);
    top: 50%;
  }
  80% {
    transform: translate(-50%, -50%);
    top: 50%;
  }
  100% {
    transform: translate(220%, -50%);
    top: 50%;
  }
}

.smile {
  animation: faces 1s ease-in-out infinite alternate;
}

.question {
  animation: faces 1s ease-in-out infinite alternate-reverse;
}

@keyframes faces {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
