/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
/* 
MAIN COLOR: #087f5b
GREY COLOR: #343a40
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
  font-family: Inter, sans-serif;
  color: #343a40;
  line-height: 1;
  display: flex;
  justify-content: center;
}

/* VIDEO CODE USED */

.pagination {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 200px;
}

.btn {
  border: 1px solid #087f5b;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #087f5b;
}

.btn:hover .btn-icon {
  stroke: #fff;
}

.btn-icon {
  height: 24px;
  width: 24px;
  stroke: #087f5b;
}

.page-link:link,
.page-link:visited {
  font-size: 18px;
  color: #343a40;
  text-decoration: none;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-link:hover,
.page-link:active,
.page-link.page-link--current {
  background-color: #087f5b;
  color: #fff;
}

.dots {
  color: #868e96;
}

/* MY CODE USED */
@media DISABLED {
  .pagination {
    width: 500px;
    margin: 100px 350px;
    background-color: #fff;
    padding: 32px 48px 32px 86px;

    border-radius: 8px;

    display: flex;
    align-items: center;
  }

  span {
    margin-top: 7px;
  }

  /* CONTROLS */
  .btn {
    background-color: #fff;
    color: #087f5b;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #087f5b;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn:hover {
    color: #fff;
  }

  .btn {
    /* In relation to PARENTE ELEMENT */
    left: 0;
    top: 50%;

    /* In relation to ELEMENT ITSELF*/
    transform: translate(-30%, 80%);
  }

  .btn--left:hover,
  .btn--right:hover {
    background-color: #087f5b;
  }

  .btn-icon {
    height: 24px;
    width: 44px;
    margin: 8px 0;
  }

  .dots {
    margin-left: 150px;
    bottom: 48px;
    transform: translate(-50%, 32px);

    display: flex;
    gap: 20px;
  }

  .page-link {
    height: 30px;
    width: 30px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  a:link {
    text-decoration: none;
    color: #000;
  }

  a:visited {
    color: #000;
  }

  .page-link:hover {
    background-color: #087f5b;
    color: #fff;
  }

  .page-link:first-child {
    background-color: #087f5b;
    color: #fff;
  }
}
